:host {
  display: block;
}

span {
  display: inline-block;
  width: 1em;
  height: 1em;
}

:host > span {
  animation-name: jazz;
  animation-iteration-count: infinite;
  animation-duration: .2s;
  animation-direction: alternate;
  overflow: visible;
  transform-origin: center center;
}

span span {
  transform: scaleX(-1);
}

@keyframes jazz {
  from { transform: rotate(-4deg); }
  to { transform: rotate(4deg); }
}
